{% extends 'base.html' %}

        {% block content %}
        <table border="3px solid black">
            <tr>
                <td><b>p_id</b></td>
                <td><b>p_name</b></td>
                <td><b>p_time</b></td>
                <td><b>p_status</b></td>
                <td><b>p_is_alive</b></td>
                <td><b>p_birth_time</b></td>
                <td><b>p_death_time</b></td>
                <td><b>p_oracle_state</b></td>
                <td><b>p_trap_state</b></td>
                <td><b>p_inventory</b></td>
                <td><b>p_full_log</b></td>
                <td><b>p_log</b></td>

            </tr>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.p_id }}</td>
                <td>{{ entry.p_name }}</td>
                <td>{{ entry.p_time }}</td>
                <td>{{ entry.p_status }}</td>
                <td>{{ entry.p_is_alive }}</td>
                <td>{{ entry.p_birth_time }}</td>
                <td>{{ entry.p_death_time }}</td>
                <td>{{ entry.p_oracle_state }}</td>
                <td>{{ entry.p_trap_state }}</td>
                <td>{{ entry.p_inventory }}</td>
                <td>{{ entry.p_full_log }}</td>
                <td>{{ entry.p_log }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}