{% extends "user_base.html" %}

    {% block title %}Living Vagrant, {{ name }}{% endblock %}
    {% block scripts %}<script src="{{ url_for('static', filename="js/countdown.js") }}"></script>{% endblock %}

    {% if render_media %}
    {% block media %}
        <p id="media">
            <img src="{{ url_for('static', filename='img/qr/qr_gamble.png') }}"/><br>
            {% for card in render_media %}
            <img src="{{ card }}"/>
            {% endfor %}
        </p>
    {% endblock %}
    {% endif %}

    {% if render_log %}
    {% block log %}
        <p id="log">{{ render_log }}</p>
    {% endblock %}
    {% endif %}

    {% if render_time %}
    {% block time %}
        <p class="center"><span id="time" data-doomsday="{{ render_time }}">00:00</span></p>
    {% endblock %}
    {% endif %}

    {% if render_text %}
    {% block text %}
        <div id="text">
        {% for para in render_text %}
            <p>{{ para }}</p>
        {% endfor %}
        </div>
    {% endblock %}
    {% endif %}


    {% block input %}
    {% if input_fields %}
    <div id=input>
        {% if show_debug %}
        <b>Input Type:</b> {{ render_input }} <br>
        <b>input_fields:</b><ul> {% for entry in input_fields %} <li> {{ entry }}</li> {% endfor %}</ul>
        {% endif %}
        {% if input_command %}
        <p><b>What will you do?</b></p>
        {% endif %}
        <form action="" method="post">
            {% if input_id %}
            <input type="hidden" name="input_id" value="{{ input_id }}">
            {% endif %}
            {% if render_input == 'button' %}
            {% for entry in input_fields %}
            <input type="radio" name="input" value="{{ entry }}"> {{ entry }} <br>
            {% endfor %}
            <input type="submit" value="submit">
            {% elif render_input == 'submit' %}
            <input type="submit" value="{{ input_fields[0] }}"> {{ entry }} <br>
            {% endif %}
        </form>

    </div>
    {% endif %}
    {% endblock %}


