{% extends "standardPage.html" %}
{% block container %}
    <div class="post">
        <h2>Welcome to Binary Triage</h2>
        <p>
            Yowassup! Welcome to my little space on the net where I get to talk about myself and what I do (Yay!).
        </p>

        <p>
            This place exists as an expression of myself to build something tangible from the ground up. It's built as a tribute and appreciation of knowledge, life and especially programming! This site is written in Python using Flask upon the Gunicorn webserver. Python isn't my language of choice for scripting websites (my choice would be Perl), but that's exactly why I'm writing this site in python!
        <p>
            Let me tell you a little bit about myself. When I was in high school, I wasn't really preoccupied with my grades or coursework. I struggled a lot trying to convince myself of how to fit in with the world. My response to this complex adventure was as childish as you could expect for a teenager: To retreat to the fantasy world of video games, where I could better my skills in a world where I was the hero and appreciated. This happened when I was about 10 years old, and after a few years of having my imagination captured, I discovered the world of MMORPG's through Ragnarok Online. It was around this point where I felt a lot more secure within myself as I had an online community that appreciated me for what I could do, and I worked hard to earn that respect and appreciation. There was a complex and arduous exploration of individuality between there and my uni life which included flunking the HSC and doing a TAFE course in Game Design.
        </p>
        <p>
            After my diploma, what I learnt did not cut it for me. I was frustrated with what I learnt and with myself for getting into this situation, and I made the decision at TAFE to go to university and learn something the proper way. At this point, I was an expert user of windows (I knew how the internet worked from a young age. I was a gnarly net surfer and avid user of Macromedia(Adobe) Flash, Photoshop and even hosted my own Ragnarok Online server which as you'd expect of a 12 year old at the time, was hosted on 'some kids desktop in his parents basement'. I had 5 users on my server tops.
        </p>
        <p>
            Fast forward a couple of years, and I am a tutor of Algorithms and Data  at the University of New South Wales. Score. 
        </p>
        <p>
            Phasellus ornare lorem ac blandit scelerisque. In ornare at lorem a rutrum. Phasellus dui orci, rutrum id sollicitudin ac, laoreet non odio. Integer dignissim enim est, id dignissim leo consequat in. Nullam ullamcorper, magna nec efficitur sodales, urna quam volutpat felis, posuere accumsan metus sem eget nisl. Maecenas pretium sodales nisi, nec suscipit ipsum iaculis ut. Maecenas tempus ornare iaculis. Duis sit amet leo consectetur, dapibus erat a, ornare sem. Vivamus ac sapien est. Duis id ex lectus. Aenean faucibus vestibulum tellus, vel finibus ex semper vitae.
        </p>
    </div>

{% endblock %}